<!--存放面板片段：
    將原來檔案重複的地方貼在一個新檔案裡，需要引用該重複部分的就在其html(ejs）檔案加語法%- include('./includes/header') %
    有組合的概念，類似vue的元件化。
    這邊以404.ejs和includes的header.ejs為例，就想著拆成兩個片段，兩個檔案組合再一起就是一個視覺畫面 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> 




