<%- include('./includes/header') %>

</head>
<body>
    <%- include('./includes/navbar') %>

    <h1><%= pageTitle %></h1>
    <h2>This is login Page!!!</h2>
    <form action="/login" method="POST"> 
        <div>
            <label for="name">Name</label>
            <input type="name" name="name" value="Your name" id="name">
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" value="Your email" id="email">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" value="" id="password">
        </div>
       
        <button type="submit">Login</button>

    </form>
    
</body>
</html>

    <%- include('./includes/footer') %> 
